<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Envio de email</title>
</head>

<h1><a>Preencha o formulário para enviar um e-mail</a></h1>

<form method="post" name="contact_form"
method="POST" action="http://localhost:5000/func">
    Your Name:
    <input type="text" name="name"> 
    <br>
    <br>
    Email Address:
    <input type="text" name="email">
    <br>
    <br>
    Message:
    <textarea name="message"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>	
</body>
</html>